.wrapper {
    min-height: rem(900px);
    background-size: cover;
    position:relative;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 70px;


  }
  /* TODO change the background image to feather logo and align the login box, some change to color would be nice  */
  
  .form {
    border-right: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
    min-height: rem(750px);
    min-width: rem(500px);
    padding-top: rem(2px);
    justify-content: center;
    }
  
  
  .title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
  }