.wrapper {
    min-height: rem(900px);
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1484242857719-4b9144542727?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1280&q=80);
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 70px;


  }
  /* TODO change the background image to feather logo and align the login box, some change to color would be nice  */
  
  .form {
    border-right: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
    min-height: rem(750px);
    min-width: rem(500px);
    padding-top: rem(2px);
    justify-content: center;
  
    @media (max-width: $mantine-breakpoint-xs) {
      max-width: 80%;
    }
  } 
  
  .title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
  }